<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="heading">
  <style>
      #photo{
        background: url("https://source.unsplash.com/random/?book");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 650px;
      }
  </style>
  <div id="photo" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center text-center text-white">
    <div  class="container">
      <h1 class="display-3">AmazingBook Store</h1>
      <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at atque consequuntur deserunt dolores, eaque facere facilis id ipsam ipsum libero, modi molestias mollitia necessitatibus omnis quae repudiandae tempora voluptas.</p>
      <a class="rounded-pill px-4 py-2">Search Books</a>
    </div>
  </div>
</div>
</body>
</html>